// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
  border-collapse: collapse;
  text-indent: initial;
  border-spacing: 2px;
}

